{% load static %}
<div class="col-xxl-12 col-xl-12">
<div class="card">
   <div class="card-header">
      <h4 class="card-title">Таблица Блокчейн внутри присутствует База Данных</h4>
   </div>
   <div class="card-body">
      <div class="table-responsive transaction-table">
         <table class="table table-striped responsive-table">
            <thead>
               <tr>
                  <th>Name</th>
                  <th>Lastname</th>
                  <th>Height</th>
                  <th>Age</th>
                  <th>Weight</th>
                  <th>Body temparatyre</th>
                  <th>Pressure</th>
                  <th>Oxygen in blood</th>
                  <th>Blood</th>
                  <th>Rate</th>
                  <th>Pulse</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>{{ Name }}</td>
                  <td>{{ Lastname }}</td>
                  <td>{{ Height }}</td>
                  <td>{{ Age }}</td>
                  <td>{{ Weight }}</td>
                  <td>{{ Body }}</td>
                  <td>{{ Pressure }}</td>
                  <td>{{ Oxygen }}</td>
                  <td>{{ Blood }}</td>
                  <td>{{ Rate }}</td>
                  <td>{{ Pulse }}</td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>